//
//  StaggingConfig.xcconfig
//  BuildForProd
//
//  Created by Mohab El-Shishtawy on 12/13/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CUSTOM_APP_NAME = BuildForProdStagging
CUSTOM_APP_VERSION = 0.3
CUSTOM_BUNDLE_ID = com.vois.BuildForProdAppStagging
