<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750587419000-d8s30fr4rikd5ihl3uk7m83ccousfjc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750587419000-d8s30fr4rikd5ihl3uk7m83ccousfjc6</string>
	<key>API_KEY</key>
	<string>AIzaSyA2WU8pQkxEj-bL951VOmIo2f9sXxHabtI</string>
	<key>GCM_SENDER_ID</key>
	<string>750587419000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Dinamo.App</string>
	<key>PROJECT_ID</key>
	<string>dinamo-5d86f</string>
	<key>STORAGE_BUCKET</key>
	<string>dinamo-5d86f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750587419000:ios:3d89a977e0751b6ac8508d</string>
</dict>
</plist>